/* Custom CSS */
body{
  position: relative;
}

.header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
  }

.navbar {
  background-color: #ffc0cb;
  z-index: 9999;
  color: #ff3355;
  font-size: 2em;
  font-family:'Tangerine',Arial,serif;font-weight:400;
  height: 56px;
}

.navbar-footer {
  background-color: #ffc0cb;
  z-index: 9999;
  color: #ff3355;
  height: 45px;
  padding-top: 2.5px;
}

.navbar-inverse{
  border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  letter-spacing: 0.05em;
  color: #ff3355;
  padding-bottom: 20px;
}

.navbar li a, .navbar .navbar-brand {
  color: #ff3355 !important;
  text-align: right;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: white !important;
  background-color: #ff99aa !important;
  text-decoration: none;
  height: 56px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #F9E32D !important;
  padding: 0px;
}


.body-custom {
      background: red; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(-90deg, pink, pink, pink, white); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(-90deg, pink, pink, pink, white); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(-90deg, pink, pink, pink, white); /* For Firefox 3.6 to 15 */
      background: linear-gradient(-90deg, pink, pink, pink, white); /* Standard syntax (must be last) */
}

.qrcode {
  width: 150px;
  height: 150px;
}

.left-bar-custom {
  margin-left: -50px;
}

.panel-primary {
  border-color: #ffc0cb;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #ffc0cb;
    border-color: #ffc0cb;
}

.panel-primary>.panel-heading>.panel-title {
    color: #8c8c8c;
    font-size: 1.75em;
    font-family:'Tangerine',Arial,serif;font-weight:400;
    letter-spacing: 0.05em;
}

.panel-shadow {
    padding: 15px;
    box-shadow: -5px 5px 5px silver;
}

.login-linge {
  padding-top: 0.20em;
}

.itens-cat-nav ul li:hover {
  background-color: none !important;
}

.itens-cat-nav ul li a:hover {
  text-decoration: none;
  color: #ff99aa !important;
}

#footer-diamond {
  background-image: url("https://www.rumo.com.br/lojas/00033555/images/Fotolia_117921446_S.jpg");
  background-repeat: fixed no-repeat;
  -webkit-background-size: cover; -o-background-size: cover; -moz-background-size: cover; background-size: cover; 
}

#footer-diamond li a:hover {
  text-decoration: none;
}

#footer-diamond li a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
    text-decoration: none;
}

#idBadgeAllFC {
  display: none;
}

.FooterTecFastCommerce {
  display: none;
}

.contact-address {
  vertical-align: middle;
}

.div-contact-address {
  color: #515967;
}

.div-contact-address a:hover {
  text-decoration: none;
}

.row {
  margin: 0px;
}

.logo {
    position: absolute;
    top: 6.25px;
    left: 10px;
    margin-top: -5px;
    margin-left: -6.25px;
  }

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: pink;
}

li.dropdown {
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn_custom {
    text-align: center;
    font-size: 25px;
    color: #333;
    border: 0;
    box-shadow: 0 0 5px 0 #ccc;
    text-transform: capitalize;
    outline-color: transparent;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

#topcontrol{
  display: none;
}

.bag {
  font-family: Verdana;
}

.bag-img {
  padding-top: 5px;
}

.glyphicon:before {
  font-size:18px;color:black;
}

.align-justify {
  text-align: justify;
}

.padding-lists-help {
  padding-left: 2em;
}


/*Side menu*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 16;
    top: 0;
    right: 0;
    background-color:  #ffe6ea;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 0.75em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#myPage {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 0.85em;}
}

#mySidenav a {
  text-decoration: none;
}

#mySidenav a:hover {
  background-color: #ff3355;
}

#newsPage {
  background-image: url('https://www.rumo.com.br/lojas/00034777/images/newsletter-page-min.jpg');
  background-repeat: no-repeat;
}

.titlenews {
  font-family: 'Tangerine';
  font-size: 3em;
}




